MCT_TimeSheetsApp/Connected Services/TimeSheetWS/TimeSheetAppWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/TimeSheetAppWebService" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TimeSheetAppWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TimeSheetAppWebService" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="InsertTimeSheetDetail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="timeSheetHeaderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="timeSheetLineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="timeSheetDate" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="InsertTimeSheetDetail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="InsertTimeSheetDetail">
    <part name="parameters" element="tns:InsertTimeSheetDetail" />
  </message>
  <message name="InsertTimeSheetDetail_Result">
    <part name="parameters" element="tns:InsertTimeSheetDetail_Result" />
  </message>
  <portType name="TimeSheetAppWebService_Port">
    <operation name="InsertTimeSheetDetail">
      <input name="InsertTimeSheetDetail" message="tns:InsertTimeSheetDetail" />
      <output name="InsertTimeSheetDetail_Result" message="tns:InsertTimeSheetDetail_Result" />
    </operation>
  </portType>
  <binding name="TimeSheetAppWebService_Binding" type="tns:TimeSheetAppWebService_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="InsertTimeSheetDetail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetAppWebService:InsertTimeSheetDetail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="InsertTimeSheetDetail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="InsertTimeSheetDetail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TimeSheetAppWebService">
    <port name="TimeSheetAppWebService_Port" binding="tns:TimeSheetAppWebService_Binding">
      <address location="http://udk-dev:7047/BC160/WS/CRONUS%20International%20Ltd./Codeunit/TimeSheetAppWebService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>